
body{
  background-image: url(background.jpg);
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  font-family:cursive;
}


header {
  padding: 40px;
  text-align: center;
  background: rgb(161, 111, 35);
  color: white;
  font-size: 20px;
}

p{
  padding-left:60px ;
  padding-right:60px ;
}

#firstNameError{
  visibility: hidden;
  color:red;
}


#lastNameError{
  visibility: hidden;
  color:red;
}


#studentIDError{
  visibility: hidden;
  color:red;
}


input[type=text], select {
    padding: 4px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 120%;
  }
  
  fieldset {
    width: 600px;
    margin: auto;
    background-color: blanchedalmond;
  }
  
  footer{
    background-color:rgb(161, 111, 35);
  }


  #social1, #social2{
    color: white; 
    border-radius: 6px;
    margin: 15px; 
    list-style-position: inside;
    text-align: center; 
  }

  .copyright{
    color:white; 
    border-radius: 6px;
    margin: 15px; 
    font-size: 120%;
    text-align: center; 
    list-style-position: inside; 
  }

  #btn{
    text-align: center; 
    list-style-position: inside; 
  }

  #submitBtn{
    margin-right: 10px; ;
  }

  #clear{
    margin-left: 10px; ;
  }

  footer{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center; 
    list-style-position: inside; 
  }